<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Just Move</title>
    <link rel="stylesheet" href="~/site.min.css" charset="utf-8">
    <link rel="shortcut icon" type="image/ico" href="/images/logo_16.ico">
</head>
<body id="just_move">
    <div id="app">
        <div class="loading_placeholder"><div class="loading main"></div></div>
    </div>

    <script src="~/common.js" charset="utf-8"></script>
    <script src="~/jspm_packages/system.js" charset="utf-8"></script>
    <script src="~/config.js" charset="utf-8"></script>
    <script src="~/bundle.react.js" charset="utf-8"></script>
    <script type="text/javascript">
      System.import('rApp/app');
    </script>
    <!-- <environment names="Production">
        <script src="~/bundle.react.sfx.js" charset="utf-8"></script>
    </environment>
    <environment names="Development">
        <script src="~/jspm_packages/system.js" charset="utf-8"></script>
        <script src="~/config.js" charset="utf-8"></script>
        <script type="text/javascript">
          System.import('rApp/app');
        </script>
    </environment> -->
</body>
</html>
