<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Just Move</title>
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css" charset="utf-8">
    <link rel="stylesheet" href="~/bundles/site.min.css" charset="utf-8">
    <link rel="shortcut icon" type="image/ico" href="/images/logo_16.ico">
</head>
<body id="just_move">
    <div id="react-app">
        <div class="loading_placeholder"><div class="loading main"></div></div>
    </div>
    
    <script src="~/common.js" charset="utf-8"></script>
    <script src="~/webpack/react.bundle.js" charset="utf-8"></script>
</body>
</html>
