extends ../../shared/views/_dialog

block content
  include ./bilansForm.jade
block buttons
  a.btn.btn-secondary(ui-sref="^") Anuluj
  button.btn.btn-primary(type='submit', ng-disabled="formDialog.$invalid") {{ vm.model.AddProducts ? 'Dodaj produkty' : 'Sprzedaj produkty' }}
