<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>React</title>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico">
</head>
<body style="margin : 0;">
    <div id="wrapper">
    </div>
    <script src="~/common.js" charset="utf-8"></script>
    <script src="~/react.bundle.js" charset="utf-8"></script>
</body>
</html>
