<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>React</title>
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="~/site.css" charset="utf-8">
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico">
</head>
<body style="margin : 0;">
    <div id="arbor-app">Loading ...</div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/headroom/0.7.0/headroom.min.js"></script>
    <script src="~/common.js" charset="utf-8"></script>
    <script src="~/jspm_packages/system.js" charset="utf-8"></script>
    <script src="~/config.js" charset="utf-8"></script>
    <!-- <script src="~/bundle.react.min.js" charset="utf-8"></script> -->

    <script type="text/javascript">
      System.import('retApp/app').then(function(){
        var myElement = document.getElementById("navbar");
        var headroom  = new Headroom(myElement);
        headroom.init();
      });
    </script>
</body>
</html>
