.row
  .col-lg-6
    label.control-label(for="search-price-from") Cena od
    input.form-control#search-price-from(type="number", ng-model="vm.search.FreeText")
  .col-lg-6
    label.control-label(for="search-price-to") Cena do
    input.form-control#search-price-to(type="number", ng-model="vm.search.FreeText")
