.card.page
  ui-view
  div
    .card-block.btn-group
      button.btn.btn-success(ui-sref='.add') 
        span.fa.fa-plus
        span Dodaj nowy
    .card-block
      .list-group
        a.list-group-item(ui-sref=".edit({ id : 1})")
          span one
          span.label.label-default.label-pill.pull-right 120 szt.
        a.list-group-item(ui-sref=".edit({ id : 2})")
          span one
          span.label.label-default.label-pill.pull-right 120 szt.
