.row(ng-show="!vm.search.$showAdvanceSearch")
  .col.col-lg-12
    label.control-label(for="search-text") Szukaj
    input.form-control#search-text(type="text", ng-model="vm.search.FreeText")
.row(ng-show="vm.search.$showAdvanceSearch")
  .col.col-lg-6
    label.control-label(for="search-text") Szukaj
    input.form-control#search-text(type="text", ng-model="vm.search.FreeText")
  .col.col-lg-6
    include ./size
.row(ng-show="vm.search.$showAdvanceSearch")
  .col.col-lg-6
    .form-group
      product-range-filter(from="vm.search.NetPrice.MinValue", to="vm.search.NetPrice.MaxValue", name="Cena")
  .col.col-lg-6
    .form-group
      product-range-filter(from="vm.search.Quantity.MinValue", to="vm.search.Quantity.MaxValue", name="Ilość")
