extends ../../shared/views/_dialog

block content
  include ./productForm.jade
block buttons
  a.btn.btn-secondary(ui-sref="^.change({ id : vm.model.Id })") Zmień stan magazynu
  a.btn.btn-secondary(ui-sref="^") Anuluj
  button.btn.btn-primary(type='submit', ng-disabled="formDialog.$invalid") Zapisz zmiany
