.card.page
  ui-view
  div
    .card-block
      include ./filterForm
    .card-footer.text-right
      .btn-group
        button.btn.btn-info(ng-click="vm.loadData()")
          span.fa.fa-refresh &nbsp;
          span.sm-hide Odśwież
        button.btn.btn-default(ng-click="vm.setDefaultFilerState()")
          span.fa.fa-terminal &nbsp;
          span.sm-hide Czyść filtr
        button.btn.btn-info(ng-click="vm.search.$showAdvanceSearch = !vm.search.$showAdvanceSearch")
          span.fa(ng-class="{ false : 'fa-search-plus', true : 'fa-search-minus' }[vm.search.$showAdvanceSearch]") &nbsp;
          span.sm-hide {{vm.search.$showAdvanceSearch ? 'Podstawowy filtr' : 'Zaawansowany filtr'}}
        button.btn.btn-success(ui-sref='.add')
          span.fa.fa-plus &nbsp;
          span.sm-hide Dodaj nowy produkt
.loading_placeholder(ng-if="vm.$isLoading")
  .loading.main
div(ng-if="!vm.$isLoading")
  .card.page(ng-if="(vm.model | searchProducts:vm.search).length == 0")
    .card-block
      i
        span Nie znaleziono produktow
        b(ng-show="vm.search.FreeText") &nbsp;'{{vm.search.FreeText}}'
        a(ui-sref=".add") &nbsp;Dodaj nowy
  .card.page(ng-if="!vm.$isLoading")
    .card-block(style="position: relative;")
      .row
        .col.col-lg-12
          sort-directive(options="vm.sortFields", selected-option="vm.sortOptions" direction="vm.sortDirection" )
      span.label.label-default.label-pill(style="position: absolute; bottom : 0; right : 0;") W sumie: {{vm.model | searchProducts:vm.search:false | totalProductCost}} PLN
  .card.page(ng-show="!(vm.model | searchProducts:vm.search).length == 0")
    .list-group.list-group-flush
      span.list-group-item
        .row
          span.col.col-lg-2 Kod
          span.col.col-lg-4 
            span Nazwa
            b [Rozmiar]
          span.col.col-lg-2 Dostawca
          span.col.col-lg-4
      a.list-group-item(ui-sref=".edit({ id : product.Id})", ng-repeat="product in vm.model | searchProducts:vm.search | orderBy:vm.sortOptions:vm.sortDirection", ng-style="{ borderLeft: '3px solid ' + product.Color }")
        .row
          span.col.col-lg-2 {{product.Code}}
          span.col.col-lg-4 
            span {{product.Name}} 
            b [{{product.Size}}]
          span.col.col-lg-2 {{product.Supplier}}
          span.col.col-lg-4.label.label-default.label-pill.pull-right(ng-class="{ 'label-danger' : product.StoredQuantity < 0 }") {{ product | productCostSummary }}
