.row
  .col-sm-6
    label.control-label(for="search-price-from") {{name}} od
    input.form-control#search-price-from(type="number", ng-model="from")
  .col-sm-6
    label.control-label(for="search-price-to") {{name}} do
    input.form-control#search-price-to(type="number" ng-model="to")
