.row
  .col-lg-12
    label.control-label(for="search-price-to") Wybierz rozmiary
    .btn-group(style="width : 100%;")
      button.btn.btn-secondary M
      button.btn.btn-secondary L
      button.btn.btn-secondary XL
      button.btn.btn-secondary XXL
