.modal-open
  .modal-backdrop.fade.in
  .modal.fade.in(style="display:block;")
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4.modal-title
            block title 
              span Default title
        .modal-body
          block content
        .modal-footer
          block buttons
